<!-- Google Athletic/Slab Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Graduate&display=swap" rel="stylesheet">

{{ $scss := resources.Get "scss/main.scss" }}
{{ $css := $scss | css.Sass | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

{{ $customScss := resources.Get "scss/custom.scss" }}
{{ if $customScss }}
  {{ $customCss := $customScss | css.Sass | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $customCss.RelPermalink }}" integrity="{{ $customCss.Data.Integrity }}">
{{ end }}

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ "images/logo.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "images/logo.png" | relURL }}">